<!-- Wappler include head-page="layouts/laubrory" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="vidsporta" appConnect="local" components="{dmxBrowser:{},dmxBootstrap5Offcanvas:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5Modal:{}}" -->
<dmx-serverconnect id="sc_vid_sporta2" url="/api/laybrory/vid_sporta/get_vid_sporta"></dmx-serverconnect>
<dmx-serverconnect id="sc_vid_sporta" url="/api/laybrory/vid_sporta/zaproz_vid_sporta"></dmx-serverconnect>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button id="btn1" class="btn" data-bs-toggle="offcanvas" data-bs-target="#meny">Меню</button>
            </div>
            <div class="col text-xxl-center">
                <h5>Виды спорта</h5>
            </div>
            <div class="col text-start">
                <p class="text-center">Количество позиций: ({{sc_vid_sporta2.data.query.count()}})</p>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="d-block">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Vid sporta</th>
                                    <th>Sorting</th>
                                    <th>Counting</th>
                                    <th>Counting</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_vid_sporta.data.query" id="tableRepeat1">
                                <tr>
                                    <td dmx-text="vid_sporta"></td>
                                    <td dmx-text="sorting"></td>
                                    <td dmx-text="counting"></td>
                                    <td>
                                        <form is="dmx-serverconnect-form" id="fr_del_vidsporta" method="post" action="/api/laybrory/vid_sporta/del_vid_sporta" dmx-generator="bootstrap5" dmx-form-type="horizontal">
                                            <div class="form-group mb-3 row">
                                                <label for="inp_rde" class="col-sm-2 col-form-label">Rde</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inp_rde" name="rde" aria-describedby="inp_rde_help" placeholder="Enter Rde" dmx-bind:value="id">
                                                </div>
                                            </div>
                                        </form>
                                        <button id="btn4" class="btn btn-danger" dmx-on:click="fr_del_vidsporta.submit()" dmx-show="counting==0">Удалить&nbsp;</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col col-xxl">
                <button id="btn2" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">Создать</button>
            </div>
        </div>
        <div class="row" is="dmx-repeat" id="repeat1" dmx-bind:repeat="sc_vid_sporta2.data.query">
            <div class="col-xxl-auto col-12 col-sm-6 col-md-auto col-lg-auto col-xl-auto">
                <div class="d-block">
                    <h5 class="text-xxl-center mark">Виды спорта</h5>
                    <h6>Номер в системе: {{sorting}}</h6>
                    <h6>Наименование: {{vid_sporta}}</h6>
                    <button id="btn3" class="btn btn-warning w-100">Изменить (доработать)</button>
                </div>
            </div>
        </div>

    </div>
</section>
<meta name="ac:route" content="/labrory/vidsporta">

<div class="offcanvas offcanvas-start" id="meny" is="dmx-bs5-offcanvas" tabindex="-1">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title">Меню раздела</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column justify-content-center">
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/bukmaker')" id="bukmaker">Букмекеры</h5>
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/valuta')" id="valuta">Валюта</h5>
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/vidsporta')" id="vid_sporta">Вид спорта</h5>
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/line')" id="line">Букмекерская линия</h5>
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/vidstavki')" id="vid_stavki">Вид ставки</h5>
            <h5 class="mt-2 mb-2 ms-3 cur" dmx-on:click="browser1.goto('/labrory/stategy')" id="strategy">Стратегии</h5>
        </div>
    </div>
</div><!-- Wappler include head-page="layouts/laubrory" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="labrory" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxBootstrap5Offcanvas:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<div class="modal" id="modal1" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="fr_new_vid_sporta" method="post" action="/api/laybrory/vid_sporta/new_vid_sporta" dmx-generator="bootstrap5" dmx-form-type="vertical">
                    <div class="form-group mb-3">
                        <label for="inp_vid_sporta">Vid sporta</label>
                        <input type="text" class="form-control" id="inp_vid_sporta" name="vid_sporta" aria-describedby="inp_vid_sporta_help" placeholder="Enter Vid sporta">
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_sorting">Sorting</label>
                        <input type="number" class="form-control" id="inp_sorting" name="sorting" aria-describedby="inp_sorting_help" placeholder="Enter Sorting">
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<meta name="ac:route" content="/labrory/labrory">