<!doctype html>
<html>

<head>
    <base href="/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Untitled Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Tooltips/dmxBootstrap5Tooltips.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
</head>

<body is="dmx-app" id="sistem">
    <div class="offcanvas offcanvas-end" id="offcanvas1" is="dmx-bs5-offcanvas" tabindex="-1">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Offcanvas title</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Offcanvas body text goes here.</p>
        </div>
    </div>
    <dmx-serverconnect id="sc_identif" url="/api/users/identification"></dmx-serverconnect>

    <header class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a><img src="/assets/images/logo2-no-bg-preview (carve_photos)-no-bg-preview (carve.photos).png" width="50" height="40" class="mt-2 mb-1"></a>
                </div>
                <div class="col align-self-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="dropdown align-self-center">
                            <button id="menu" class="btn dropdown-toggle text-center" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</button>
                            <div class="dropdown-menu" aria-labelledby="dropdown1">
                                <a class="dropdown-item" href="/labrory/labrory">Справочники</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col align-self-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="dropdown align-self-center">
                            <button id="dropdown2" class="btn dropdown-toggle text-center" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{sc_identif.data.query[0].UUID}}</button>
                            <div class="dropdown-menu" aria-labelledby="dropdown1">
                                <a class="dropdown-item" href="#">Профиль</a>
                                <a class="dropdown-item" href="#">Настройки</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Справочники</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col align-self-center">
                    <div class="d-flex justify-content-end align-items-center">
                        <i class="fas fa-university fa-2x" dmx-on:click="offcanvas1.show()"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div is="dmx-view" id="content">
                <%- await include(content, locals); %>
            </div>
        </div>

    </div>
    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>